<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The InterviewApp</title>
  <meta name="description" content="InterviewApp">
  <meta name="author" content="Arindam">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

  <!-- Latest compiled JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
  <a class="navbar-item" id="a1" href="/#/new_participant">
    | New Participant |
  </a>
  <a class="navbar-item" id="a2" href="/#/new_interview">
    | New Interview |
  </a>
  <a class="navbar-item" id="a3" href="/#/participants">
    | Participants |
  </a>
  <a class="navbar-item" id="a4" href="/#/interviews">
    | Interviews |
  </a>

  <div id="content" class="container">

  </div>

  <script src="js/scripts.js"></script>
</body>
</html>
